* { box-sizing: border-box; }
body {
  font-size: 18px;
  padding: 1rem;
  background: #333;
}

.app-search {
  flex: 1 1 100%;
}

section {
  background: white;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}


h2 {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.25rem 0;
  border-bottom: 2px solid #333;
}

.module {
  flex: 0 1 calc(25% - 2em);
  margin: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 6px 6px 6px #dedede;
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
  font: 18px "Open Sans", sans-serif;
  transform: all 0.25s ease-in-out;
}
.card-header {
  margin: 0 -1em 1em;
  padding: 0.25em 1em;
  color: #fff;
  text-align: center;
  position: relative;
}
.card-header::after {
  content: '';
  width: 130px;
  height: calc(100% + 0.5em);
  position: absolute;
  top: 50%;
  left: 0.25em;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-50%);
}

/*-- By Team Type --*/
.card[data-team="Heroes"] {
  /*background: linear-gradient(rgba(5, 32, 167, 71%), rgb(0, 22, 128, 71%));*/
}
.card[data-team="Heroes"] .card-header {
  background: rgb(5, 32, 167);
  border-top: 1px solid rgb(6, 28, 143);
  border-bottom: 1px solid rgb(6, 28, 143);
}

.card[data-team="Villains"] {
  /*background: linear-gradient(rgba(128, 0, 0, 0.71), rgba(128, 0, 0, 0.71));*/
}
.card[data-team="Villains"] .card-header {
  background: linear-gradient(rgba(128, 0, 0, 1), rgba(128, 0, 0, 1));
  border-top: 1px solid rgba(128, 0, 0, 0.71);
  border-bottom: 1px solid rgba(128, 0, 0, 0.71);
}

.card[data-team="Neutral"] .card-header {
  background: linear-gradient(#dedede, #dedede);
  color: #222;
}

/* -- By Publisher --*/
.card[data-publisher="Marvel Comics"] {
  background: linear-gradient(180deg, rgb(186, 0, 0) 0%, rgba(238,238,238,1) 50%, rgb(255, 134, 134) 100%);
}
.card[data-publisher="Marvel Comics"] .card-header::after {
  width: 75px;
  height: 44px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/220px-Marvel_Logo.svg.png');
  background-size: 65px 20px;
  background-position: center center;
  background-color: rgb(255, 0, 0);
}

.card[data-publisher="DC Comics"] {
  background: linear-gradient(180deg, rgb(57, 72, 210) 0%, rgba(238,238,238,1) 50%, rgb(134, 216, 255) 100%);
}
.card[data-publisher="DC Comics"] .card-header::after {
  width: 50px;
  height: 50px;
  background-image: url("https://www.dccomics.com/sites/all/themes/dc_comics_bp/logo.png");
}

.card[data-publisher="Dark Horse Comics"] {
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
}
.card[data-publisher="Dark Horse Comics"] .card-header::after {
  width: 35px;
  height: 52px;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/f/f8/Dark_Horse_Comics_logo.svg/1200px-Dark_Horse_Comics_logo.svg.png');
}

.card[data-publisher="Icon Comics"] {
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc)
}
.card[data-publisher="Icon Comics"] .card-header::after {
  width: 41px;
  height: 52px;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/a/ab/Iconcomicslogo.png');
}

.card[data-publisher="Image Comics"] {
  background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
}
.card[data-publisher="Image Comics"] .card-header::after {
  width: 23px;
  height: 52px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/96/Image_Comics_logo.svg');
}

.card-front {
  position: relative;
  padding-bottom: 0.75em;
  overflow: hidden;
}
.card img {
  width: auto;
  height: auto;
  max-width: 100%;
  border: 1px solid #ddd;
  position: relative;
  z-index: 0;
}
.card .card-image {
  overflow: hidden;
  position: relative;
}

.shimmer {
  position: absolute;
  width: 130%;
  height: 130%;
  background: radial-gradient(circle farthest-side, #fff, transparent);
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  border-radius: 50%;
}
.card .card-image:hover .shimmer {
  opacity: 0.4;
}

.card-name {
  background: #fcfb0d;
  border: 1px solid #222;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  left: 0.5em;
  right: 0.5em;
  text-align: center;
  z-index: 3;
}

.card-back {
  display: none;
}